@model Kias_Kar_Kompany.Models.Vehicle

@{
    ViewData["Title"] = "Edit Vehicle";
}

<h1>Edit Vehicle</h1>

<h4>Vehicle</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <input type="hidden" asp-for="VehicleId" />

            <div class="form-group">
                <label asp-for="VehicleName" class="control-label"></label>
                <input asp-for="VehicleName" class="form-control" />
                <span asp-validation-for="VehicleName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VehicleModel" class="control-label"></label>
                <input asp-for="VehicleModel" class="form-control" />
                <span asp-validation-for="VehicleModel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VehiclePrice" class="control-label"></label>
                <input asp-for="VehiclePrice" class="form-control" />
                <span asp-validation-for="VehiclePrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VehicleType" class="control-label"></label>
                <input asp-for="VehicleType" class="form-control" />
                <span asp-validation-for="VehicleType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VehicleImageURL" class="control-label"></label>
                <input asp-for="VehicleImageURL" class="form-control" />
                <span asp-validation-for="VehicleImageURL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <input asp-for="ManufacturerId" class="form-control" />
                <span asp-validation-for="ManufacturerId" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}